:root {
    --timer-bar-color: rgb(255 230 0);
    --questions-bar-color: rgb(0 255 0);
    --progress-area-background-color: #333;
    --progress-bar-background-color: #fff;
    --progress-bar-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.5);
    --progress-bar-height: 20px;
    --border-radius: 10px;
  }
  
  .progress-bars{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: var(--progress-area-background-color);
    padding-bottom: 2rem;
    border-radius: var(--border-radius);
    color: #fff;
    margin-bottom: 1rem;
  }

  .progress-bars p{
    text-align: center;
    font-weight: 600;
    padding-top: 0.7rem;
    padding-bottom: 0.2rem;
  }

.progress-bar {
    width: 90%;
    background-color: var(--progress-bar-background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--progress-bar-box-shadow);
    height: var(--progress-bar-height);
    
  }
  
  #timer-bar, #questions-bar {
    width: 0%;
    height: 20px;
    background-color: red;
    border-radius: var(--border-radius);
    transition: width 1s linear;
  }

#questions-left, #timer {
    font-size: 1.2rem;
    font-weight: 600;
  }


