/* Standard CSS Resets */

/*  Use  box-sizing model, reset margins and padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Define custom properties for colors and other values */
:root {
  --window-background-color: #333;
  --default-text-color: #333;
  --page-background-color: lightblue;
  --quiz-answer-background-color: rgb(98 171 232);
  --page-element-shadow: 2px 2px 10px 0 rgba(255 255 255 / 50%);
  --accent-color-1: rgb(0 61 107);
  --accent-color-2: rgb(98 171 232);
  --main-button-background-color: rgb(0 61 107);
  --main-button-text-color: #fff;
  --main-button-hover-background-color: rgb(98 171 232);
  --secondary-button-background-color: #fff;
  --secondary-button-text-color: rgb(0 61 107);
  --secondary-button-hover-background-color: rgb(98 171 232);
  --high-score-group-1: #ddf1ff;
  --high-score-group-2: #fefeff;
  --progress-area-background-color: #333;
  --progress-bar-background-color: #fff;
  --progress-bar-box-shadow: 1px 1px 8px 0 rgba(0 0 0 / 50%);
  --progress-bar-height: 20px;
  --border-radius: 10px;

  /* set font size in root so it can be used in rem units */
  font-size: 14px;
}

/* allow percentage-based heights, use standard font-size to word in rems */
html,
body {
  height: 100%;
  background-color: var(--window-background-color);
  color: var(--default-text-color);
}

/* set default font family */
body {
  font-family: Montserrat, "Open Sans", sans-serif;
}

/* Improve media defaults, css reset   */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles, css reset  */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows, css reset  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ---- End Standard CSS Resets ---- */

/* ---------- Standard Element Styling ---------- */

/* default main container layout for all pages */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 250px;
  max-width: 750px;
  margin: 1rem auto;
}

/* default styling for page screens */
.page-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0.5rem 0.75rem;
  background-color: var(--page-background-color);
  width: 100%;
  box-shadow: var(--page-element-shadow);
}

/* default styling for headings */
h1,
h2,
h3 {
  text-align: center;
  margin: 0.25rem;
  color: var(--accent-color-1);
}

/* --------- Start Page ----------- */

/* display this page on load */
#start-page {
  display: block;
}

#start-intro p {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem 0;
  text-align: center;
}

#start-intro label {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1rem 0;
}

/* format the slider for the number of questions
 --------------------------------------------- */
.slider-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#questions-label {
  margin: 0.5em !important;
  color: var(--accent-color-1);
}

#questions-slider-value {
  margin: 0.5em !important;
  font-weight: 600 !important;
  color: var(--accent-color-1);
}

input[type="range"] {
  margin: 0;
  width: 100%;
  height: 10px;
  background-color: var(--secondary-button-background-color);
  border-radius: 10px;
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--accent-color-1);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--accent-color-1);
  cursor: pointer;
}

/* Slider Thumb Focus Styles */

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/* Adds focus styles */
input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid var(--accent-color-2);
  outline: 2px solid var(--accent-color-2);
  outline-offset: 1px;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid var(--accent-color-2);
  outline: 2px solid var(--accent-color-2);
  outline-offset: 1px; /* 0.125rem;     */
}

/* -------------- End formatting of slider ------------- */

/* format the checkbox for the show correct answers option */
#show-correct-answer {
  background: var(--page-background-color);
  accent-color: var(--page-background-color);
  margin-right: -1.25em;
  color: var(--accent-color-1);
}

#checkbox-label {
  color: var(--accent-color-1);
  margin: 0.2rem !important;
}

/* layout the buttons */
.buttons-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* format the main buttons (applies on other pages, not just start) */
button,
.main-button {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--main-button-background-color);
  color: var(--main-button-text-color);
  margin: 1rem 0;
}

/* format the secondary buttons (applies on other pages, not just start) */
.secondary-button {
  background-color: var(--secondary-button-background-color);
  color: var(--secondary-button-text-color);
  border: var(--secondary-button-text-color) solid 2px;
}

/* format the hover state of the buttons */
.main-button:hover {
  background-color: var(--main-button-hover-background-color);
}

.secondary-button:hover {
  background-color: var(--secondary-button-hover-background-color);
}

/* --------- End of Start Page ----------- */

/* --------- Quiz Page ----------- 
   hide this page on load */
#quiz-page {
  display: none;
}

/* format the question */
#quiz-question {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

#quiz-question h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

#question {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.6rem 0;
}

/* format the answers */
.quiz-answer {
  font-size: 1.2rem;
  background-color: white;
  margin: 0.25rem 1rem;
  padding: 0.2rem 1rem;
  border-radius: 20px;
}

.quiz-answer:hover {
  background-color: var(--quiz-answer-background-color) !important;
  cursor: pointer;
}

#quiz-feedback {
  border-top: var(--quiz-answer-background-color) solid 2px;
  align-self: stretch;
  text-align: left;
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

/* --------- End Quiz Page ----------- */

/* --------- End Page ----------------
    hide this page on load */
#quiz-over-page {
  display: none;
  text-align: center;
}

#quiz-over-page h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--accent-color-1);
}

#quiz-over-page p,
#final-score {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem 0;
}

/* format the  area to enter the user initials */
#initials-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 80%;
}

#initials-form label {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem 0;
}

/* style the text input */
input {
  width: 5em;
  border-color: var(--default-text-color);
  outline: none;
  text-transform: uppercase;
}

/* --------- End End Page ----------- */

/* --------- High Score Page ----------------
    hide this page on load */
#high-score-page {
  display: none;
}

/* format the high score list */
#high-score-list {
  list-style-type: none;
}

/* high score list item */
.high-score {
  color: var(--accent-color-1);
  font-size: 1rem;
  padding: 2px 1rem;
  font-weight: 500;
  border-radius: 5px;
  margin: 2px 0;
  text-align: left;
}

.list-item-colour-1 {
  background-color: var(--high-score-group-1);
}

.list-item-colour-2 {
  background-color: var(--high-score-group-2);
}

/* format the latest entry onto the high score list */
.latest-high-score {
  color: var(--main-button-text-color);
  font-size: 1rem;
  background-color: var(--main-button-background-color);
  padding: 5px 1rem;
  font-weight: 600;
}

/* the very amazing animation on the score, lol 🎆 */
@keyframes changecolor {
  0% {
    color: var(--accent-color-1);
  }

  50% {
    color: var(--accent-color-2);
  }

  100% {
    color: var(--accent-color-1);
  }
}

/* Progress Bars */
.progress-bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--progress-area-background-color);
  padding-bottom: 2rem;
  border-radius: var(--border-radius);
  color: var(--main-button-text-color);
  margin-bottom: 1rem;
}

.progress-bars p {
  text-align: center;
  font-weight: 600;
  padding-top: 0.7rem;
  padding-bottom: 0.2rem;
}

.progress-bar {
  width: 90%;
  background-color: var(--progress-bar-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--progress-bar-box-shadow);
  height: var(--progress-bar-height);
}

/* format and smoothly transition the progress bars */
#timer-bar,
#questions-bar {
  width: 0%;
  height: 20px;
  border-radius: var(--border-radius);
  transition: width 0.8s linear;
}

/* slide the questions progress bar more quickly */
#questions-bar {
  transition: width 0.5s linear;
}

/* format the progress bar indicator text */
#questions-left,
#timer {
  font-size: 1.2rem;
  font-weight: 600;
}

/* media queries - thanks to flexboxes and other layout choices,
   little needs to be done here for small and large screens to work well */
@media screen and (min-width: 550px) {
  :root {
    font-size: 16px;
  }

  .progress-bars {
    width: 90%;
  }

  #quiz-question {
    width: 80%;
  }
}
