/* Standard CSS Resets */

/*  Use  box-sizing model, reset margins and padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --window-background-color: #333;
  --default-text-color: #333;
  --page-background-color: lightblue;
  --quiz-text-color: #333;
  --quiz-answer-background-color: rgb(98 171 232);
  --page-element-shadow: 2px 2px 10px 0 rgba(255 255 255 / 50%);
  --accent-color-1: rgb(0 61 107);
}

/* allow percentage-based heights, use standard font-size to word in rems */
html,
body {
  height: 100%;
  font-size: 16px;
  background-color: var(--window-background-color);
  color: var(--default-text-color);
}

body {
  font-family: Montserrat, "Open Sans", sans-serif;
}

/* Improve media defaults  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles  */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ---- End Standard CSS Resets ---- */

/* ---------- Standard Element Styling ---------- */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 300px;
  max-width: 800px;
  margin: 0 auto;
}

.page-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 1rem 2rem;
  background-color: var(--page-background-color);
  width: 100%;
  margin-top: 1rem;
  box-shadow: var(--page-element-shadow);
}

/* --------- Start Page ----------- */
#start-page {
  display: block;
}

#start-intro p {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem 0;
}

#start-intro label {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1rem 0;
}

#show-correct-answer {
  background: var(--page-background-color);
  accent-color: var(--page-background-color);
  margin-right: -1.25em;
}

#start-high-scores p {
  text-align: center;
}

button {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  margin: 1rem 0;
}

/* --------- End of Start Page ----------- */

/* --------- Quiz Page ----------- */
#quiz-page {
  display: none;
}

#quiz-question {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
}

#quiz-question h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

#question {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.6rem 0;
}

.quiz-answer {
  font-size: 1.2rem;
  background-color: white;
  margin: 0.25rem 1rem;
  padding: 0.2rem 1rem;
  border-radius: 20px;
}

.quiz-answer:hover {
  background-color: var(--quiz-answer-background-color) !important;
  cursor: pointer;
}

#quiz-feedback {
  border-top: var(--quiz-answer-background-color) solid 2px;
  align-self: stretch;
  text-align: left;
  margin-top: 1rem;
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

/* --------- End Quiz Page ----------- */

/* --------- End Page ---------------- */
#quiz-over-page {
  display: block;
}

#quiz-over-page h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--accent-color-1);
}

#quiz-over-page p,
#final-score {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem 0;
}

#high-score-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 80%;
}

input{
  width:5em;
  border-color: var(--default-text-color);
  outline: none;
  text-transform: uppercase;
}

/* --------- End End Page ----------- */

/* --------- High Score Page ---------------- */
#high-score-page {
  display: none;
}
